[Desktop Entry]
X-SnapInstanceName=powershell
Name=PowerShell
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/powershell_powershell.desktop /snap/bin/powershell
Type=Application
Terminal=true
Categories=ConsoleOnly;System
Icon=/snap/powershell/214/meta/gui/icon.png
X-XFCE-Source=file:///var/lib/snapd/desktop/applications/powershell_powershell.desktop
